body {
    background-color: #fcf2f2;
  }
  
  
  h3 {
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:rgb(31, 145, 238);
    text-align: center; 
    text-decoration: unset;
  }
  
  table {
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    text-align:unset; 
    background-color: rgb(31, 145, 238); 
    border-collapse: collapse; 
    border: 2px solid navy
  }
  
  table.inner {
    border: 0px
  } 